@font-face {
    font-family: 'Din';
    src: url('../fonts/din-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('../fonts/din-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('../fonts/din-medium-webfont.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('../fonts/din-regular-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
