$sm-screen: 600px;
$md-screen: 840px;

$footer-height: 5.7rem;
$input-height: 2.4rem;
$input-height-sm: 2.9rem;
$btn-shadow-height: .2rem;

$green: #00BFA5;
$blue: #03A9F4;
$dark-blue: #0080BA;
$dark-gray: #414141;
$purple: #7E57C2;

$din: 'Din', sans-serif;
